html, body {
background-image: url(../images/simple_dashed.png);
}

.nav {
  height: 12px;
  margin-top: 4px;
 }

li {
    display: inline;
    margin: 0px 0px 0px 15px;
    font-size: 13px;
    line-height: 30px;
    list-style: none;
    font-family: Georgia;
 }


 h1 {
 font-family: 'Ledger', serif;
 font-size: 440px;
 text-shadow: 2px 2px white;
 text-align: center;
 margin-left: 12%;
 margin-top: 18%;
 }

.searchBar {
  /*margin-top: 200px;
  margin-bottom: 156px;
  margin-left: 70px;*/
  margin-top: 35%;
  text-align: center;
}

a:hover {
color: #B43104;
text-decoration: none;
}


.logo {
}

.spacer {
  background-color: black;
  height: 18px;
}

form input {
  background-color: gray;
  float:left;
  margin-left: 10%;
  margin-top: 5px;
}

.navbar {
  background-color: black;
  border: none;
}

button {
  float: left;
  margin-left: 10px;
}

.col-md-7 {
  padding-bottom: 30%;
}