html, body {
background-image: url(../images/simple_dashed.png);
}

.nav {
  height: 12px;
  margin-top: 4px;
 }

li {
    display: inline;
    margin: 0px 0px 0px 15px;
    font-size: 13px;
    line-height: 30px;
    list-style: none;
    font-family: Georgia;
 }


 h1 {
 font-family: 'Ledger', serif;
 font-size: 320px;
 text-shadow: 2px 2px white;
 margin-left: 70px;
 }

.searchBar {
  margin-top: 200px;
  margin-bottom: 156px;
  margin-left: 70px;
}

a:hover {
color: #B43104;
text-decoration: none;
}

.col-md-6 {
  border-radius: 5px;
  margin-top: 15px;
  border: 2px solid black;
}

.logo {
}

.spacer {
  background-color: black;
  height: 16px;
}

form input {
  background-color: gray;
}

.navbar {
  background-color: black;
  border: none;
}